{%extends "base.html"%}
{%block content%}
<div class="jumbotron" id="loginPanel">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" >
    <div class="panel-heading" role="tab" id="headingFB">
      <fb:login-button scope="public_profile,email" onlogin="connectServer();">
      </fb:login-button>
    </div>
    <div id="errorFBLogin">
    </div>
  </div>
  <div class="panel panel-default" >
    <div class="panel-heading" role="tab" id="headingAmazon">
      <a href="#" id="LoginWithAmazon">
        <img border="0" alt="Login with Amazon"
          src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
          width="156" height="32" />
      </a>
    </div>
    <div id="errorAmazonLogin">
    </div>
  </div>
  <div class="panel panel-default" >
    <div class="panel-heading" role="tab" id="headingGoogle">
      <div id="signInButton">
        <span class="g-signin"
            data-scope="openid email"
            data-clientid="56296313039-v0t49qs2gjcc5dkia7533fq6sejefp0q.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
        </span>
      </div>
      <div id="errorGLogin"></div>
    </div>
  </div>
  </div>
</div>
<div id="amazon-root"></div>
<script type="text/javascript">

  document.getElementById('LoginWithAmazon').onclick = function() {
    options = {};
    options.scope = 'profile';
    options.response_type='code'; 
    amazon.Login.authorize(options, function(response) {
      addProgressBar();
      $.ajax({
        type: 'POST',
        url: '/amazonlogin?state={{STATE}}',
        processData: false,
        data: response.code,
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if(result == 'error') {
            $('#errorAmazonLogin').html('Amazon login failed.');
          }
          else {
            window.location.href = "/success";
          }
        }
      });
    });
  };
</script>
<script type="text/javascript">
  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('amzn1.application-oa2-client.803be539b44c42e78d3753caf888a012');
  };
  (function(d) {
    var a = d.createElement('script'); a.type = 'text/javascript';
    a.async = true; a.id = 'amazon-login-sdk';
    a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
    d.getElementById('amazon-root').appendChild(a);
  })(document);

</script>
<script>
  function addProgressBar() {
    var progressDiv = document.createElement('div');
    progressDiv.setAttribute('class','progress');
    var subDiv = document.createElement('div');
    subDiv.setAttribute('class','progress-bar progress-bar-striped active');
    subDiv.setAttribute('role','progressbar');
    subDiv.setAttribute('aria-valunow','40');
    subDiv.setAttribute('aria-valuemin','0');
    subDiv.setAttribute('aria-valuemax','0');
    var randWait = Math.floor((Math.random() * 30) + 70);
    subDiv.setAttribute('style','width:'+ randWait + '%;');
    subDiv.innerHTML = randWait + '%';
    progressDiv.appendChild(subDiv);
    document.getElementById("loginPanel").insertBefore(progressDiv,document.getElementById("loginPanel").firstChild);
  }
  function connectServer() {
    addProgressBar();
    var access_token = FB.getAuthResponse()['accessToken'];
    FB.api('/me', function(response) {
      $.ajax({
        type: 'POST',
        url: '/fblogin?state={{STATE}}',
        processData: false,
        data: access_token,
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if(result) {
            window.location.href = "/success";
          }
          else {
            console.log('not success')
            $('#errorFbLogin').html('Facebook login failed');
          }
        }
      });
    });
  }
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '858989607565199',
      cookie     : true,  // enable cookies to allow the server to access 
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.7' // use graph api version 2.5
    });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // Fleiri föll.
</script>
<script>
function signInCallback(authResult) {
  addProgressBar();
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/glogin?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        if(result) {
            console.log("/success");
            window.location.href = "/success";
          }
          else {
            console.log('not success')
            $('#errorGLogin').html('Google login failed');
          }
      }//end of success
    });// end of ajax. 
  }//end of if
}//end of signInCallback
</script>
{%endblock%}